
header{
    background-color: black;
    color: white;
}

.top-logo{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-family: "Great Vibes", cursive;
    font-style: italic;
    color: lightgray;
}

.logotyp{
    font-size: 30px;
}

#headContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bengans-container{
    flex-basis: 15%;
}

.bengans{
    height: 45px;
    width: 225px;
}

.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
}

.search{
    width: 90%;
}

.icon-container{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.region{
    max-height: 20px;
    max-height: 20px;
    margin: 5px;
}

.profile{
    max-height: 20px;
    max-height: 20px;
    margin: 5px;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list-item{
    text-decoration: none;
}

li{
    margin: 5px;
    list-style: none;
    color: white;
    text-decoration: none;
}


#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thastrom{
    margin-bottom: 15px;
}

.rea{
    justify-content: center;
    align-self: center;
    width: 1000px;
    height: auto;
    margin-bottom: 25px;
}

a{
    font-size: 16px;
    font-family: sans-serif;
}

.skivor-meny{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.skivor{
    max-width: 160px;
    margin: 5px;
}


#footer-wrapper{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.social-media{
    font-size: 13px;
    color: white;
    margin-bottom: 10px;
}
