


header{
    background-color: black;
    color: white;
}

.music{
    display: block;
    padding: 5px;
    margin: auto;
    max-height: 27px;
    min-height: 27px;
}



.skivor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 155px;
    height: 155px;
    margin: auto;
}









#footer-wrapper{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}